
.Logo {
  margin-top:-20px;
  background-color: #222;
  padding: 10px;
}
.Logo img {
  animation: App-logo-spin infinite 20s linear;
  max-height: 30px;

}
img.LogoNav{
  height: 33px;
  margin-top: -8px;
}

.Menu {
	margin: 0;
	padding: 0;
	list-style: none;
}

.Menu li {
	display: inline-block;
	padding-right: 10px;
}

.Menu li a {
  color: #CCC;
  text-decoration: none;
}

.Menu li a:hover {
  color: #EEE;
}

.card>img{
  width:100%;
}

